<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>

<body>

  <!-- Header -->

  <header class="header">
      <h2>Travel</h2>
        <p class="map__link"><a href="#planner">Travel Planner</a></p>
    </nav>
  </header>

  <main class="main">

    <!-- Section Planner -->

    <section id="planner" class="section">
      <div class="container">
        <form id="form">
          <h2>Travel Planner</h2>
          <input type="text" class="form__input" name="from" placeholder="From..."
            autocomplete="on" oninvalid="return Client.invalidCityName(this);" oninput="return Client.invalidCityName(this);" required><br>
          <input type="text" class="form__input" name="to" placeholder="To..." autocomplete="on"
            required><br>
          <label for="date">Depart</label><br>
          <input type="date" class="form__input" name="date" required>
          <input type="submit" name="submit" value="Submit" onclick="return Client.addTrip(event);" onsubmit="return Client.addTrip(event)>
        </form>
      </div>
    </section>


    <!-- Section Result -->

    <section id="result" class="section invisible">
      <div class="container">
        <div class="result__image">
          <img src="./beach.png" alt="destination image" id="fromPixabay">
        </div>
        <div class="result__content">
          <h2 class="city__name"><span id="city"></span></h2>
          <h2 class="currency"><span id="currency"></span></h2>
          <h2 class="date__name"><span id="date"></span></h2>
          <h2 class="dacountDownTimer__name"><span id="countDownTimer"></span></h2>
          <h2 class="weather__name">
            <span id="temp"></span><br>
            <a class="button" id="save" href="#">Save Trip</a>

        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->

  <footer>
    <p><div>Icons erstellt von <a href="https://www.flaticon.com/de/autoren/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a></div>
  </footer>

  <!-- Service Workers -->
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
                navigator.serviceWorker.register('~service-worker.js')
                .then(registration =>{
                });
            });
    }
  </script>
</body>

</html>
