header {
  background: linear-gradient(to bottom right, $linear-color-three, $linear-color-four);
  // position: fixed;
  display: flex;
  height: 100px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);

  h2{
    font-family: $font-headings;
    text-align:left;
    font-size: 50px;
    padding: 0.5rem;
  }

  .map__link{
    font-family:$font-headings;
    text-align:center;
    font-size: 20px;
    padding: 3rem;
  }
}
